body{
    background-color: #0000003b;
}
.cajas{
    background-color: #a470d2;
    color: rgb(0, 0, 0);
}

*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

.footer-main{
    bottom: 0;
}
.color{
    background-color: #a470d2;
}

.title-main{
    margin-top: 10px;
    font-size: 30px;
    font-family: sport-font;
    text-align: center;
}

.foto-boton {
    width: 20px;
    height: 20px;
}

.foto-boton-off {
    width: 35px;
    height: 35px;
}
.boton-mini {
    padding: 6px;
    width: auto;
    height: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.botones{
    display: block;
    margin: 0 auto;
    width: 100px;
}

.deportes{
    font-size: 1.4em;
    font-family: sport-font;
}
.foto-perfil{
    height: 200px;
    width: 200px;
}

.logo{
    width: 4%;
}
.advertencia{
    background-color: #f6fc8b98;
}

.menu_opciones {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 20px;
}

@font-face {
    font-family: sport-font;
    src: url("sport.ttf");
}


                                         
            